---
layout: default
title: In Legal Terms
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Search Definitions</h1>

  <div id="search-searchbar"></div>

  <div class="post-list" id="search-hits">
    {% for post in site.posts limit: 20%}
      <div class="post-item">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <div class="post-snippet">{{ post.excerpt }}</div>
        <span class="post-meta">Added {{ post.date | date: date_format }}</span>
      </div>
    {% endfor %}
  </div>
  <div style="text-align:center; padding:20px;">
    <div id="pagination-container"></div>
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>

{% include algolia.html %}